.megatron {
  overflow: hidden;
  height: 750px;
  width: 100%;
  right: 0;
  top: 0;
  text-align: center;
}

.megatron img {
  float: right;
  filter: brightness(60%);
}

.megatron h1 {
  position: absolute;
  width: 100%;
  top: 288px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: xxx-large;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin: 0px;
}

.megatron h4 {
  position: absolute;
  top: 478px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 300;
  font-size: medium;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0px;
}

@media only screen and (max-width: 1000px) {
  .megatron img {
    float: right;
    transform: translateX(400px);
    filter: brightness(60%);
  }
}

@media only screen and (max-width: 730px) {
  .megatron h1 {
    display: none;
  }
  .megatron h4 {
    width: 70%;
  }
}