nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
}

.nav-scrolled {
  /* height: 8rem; */
  display: flex;
  background-color: black;
  position: fixed;
  top: 0;
  transition: 0.5s ease-in-out;
}

.nav-container {
  width: 95%;
  display: flex;
  /* background-color: red; */
  margin: auto;
  justify-content: space-between;
  color: white;
  padding-top: 2.7rem;
  transition: 0.3s ease-in-out;
}

.nav-container-scrolled {
  width: 95%;
  display: flex;
  /* background-color: red; */
  margin: auto;
  justify-content: space-between;
  vertical-align: middle;
  color: white;
  transition: 0.3s ease-in-out;
}

.logo {
  font-family: raleway, roboto;
  font-size: 4rem;
  transition: 0.3s ease-in-out;
}

.logo-scrolled {
  font-family: raleway, roboto;
  font-size: 3.5rem;
  padding: 1rem 0rem 1rem 0rem;
  transition: 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  width: 25%;
  min-width: 30rem;
  /* background-color: blue; */
  justify-content: space-between;
  align-items: center;
}

.nav-links > a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: raleway, roboto;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
  /* background-color: tomato; */
}

.nav-links > a:before,
.nav-links > a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f28482;
}
.nav-links > a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav-links > a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links > a:hover:before,
.nav-links > a:hover:after,
.nav-links > a:focus:before,
.nav-links > a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.nav-links > a:hover:before,
.nav-links > a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links > a:hover:after,
.nav-links > a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}

.authentication {
  display: flex;
  align-items: center;
}

.login {
  font-size: 1.2rem;
  font-family: raleway, roboto;
  font-weight: 600;
  font-style: italic;
  margin-right: 4.2rem;
  text-decoration: none;
  color: white;
}

.login:hover {
  color: #f28482;
}

.signup {
  width: 11.6rem;
  height: 4.3rem;
  background-color: #f7ede2;
  color: #f28482;
  border: 2px solid #f28482;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.signup-scrolled {
  width: 8.12rem;
  height: 3.01rem;
  background-color: #f7ede2;
  color: #f28482;
  border: 2px solid #f28482;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  text-decoration: none;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    border 0.3s ease-in-out;
  font-size: 0.2rem;
}

.signup:hover {
  background-color: #f28482;
  color: #f7ede2;
  border: 2px solid #f7ede2;
}

.signup-scrolled:hover {
  background-color: #f28482;
  color: #f7ede2;
  border: 2px solid #f7ede2;
}

.signup-text {
  margin: auto;
  font-size: 1.2rem;
  font-family: raleway, roboto;
  font-weight: 600;
  font-style: italic;
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }

  .logo {
    font-family: raleway, roboto;
    font-size: 3rem;
    transition: 0.3s ease-in-out;
  }

  .logo-scrolled {
    font-family: raleway, roboto;
    font-size: 3rem;
    padding: 1.2rem 0rem 1rem 0rem;
    transition: 0.3s ease-in-out;
  }

  .signup {
    width: 8.12rem;
    height: 3.01rem;
    background-color: #f7ede2;
    color: #f28482;
    border: 2px solid #f28482;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    text-decoration: none;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      border 0.3s ease-in-out;
    font-size: 0.2rem;
  }

  .login {
    font-size: 1.2rem;
    font-family: raleway, roboto;
    font-weight: 600;
    font-style: italic;
    margin-right: 2rem;
    text-decoration: none;
    color: white;
  }
}
