.photo-collection-container {
  background: #f5f5f5;
  width: 100%;
  margin-top: 8rem;
}

.photo-collection-heading {
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6.4rem;
  padding-bottom: 7.7rem;
}

.photo-collection-grid-container {
  display: grid;
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  width: 80.5%;
  margin: auto;
  grid-gap: 1.5rem 1.5rem;
  padding-bottom: 7.7rem;
}

.photo-collection-grid-item {
  width: calc(24.5vw * 0.805);
  height: calc(24.5vw * 0.805);
  position: relative;
}

@media only screen and (max-width: 960px) {
  .photo-collection-heading {
    font-size: 3.5rem;
    width: 70%;
    margin: auto;
  }

  .photo-collection-grid-container {
    display: grid;
    grid-template-columns: 49% 49%;
    background: red;
  }

  .photo-collection-grid-item {
    width: calc(49vw * 0.805);
    height: calc(49vw * 0.805);
    position: relative;
    background: teal;
  }
}

@media only screen and (max-width: 700px) {
  .photo-collection-heading {
    font-size: 3.5rem;
    width: 80%;
    margin: auto;
  }

  .photo-collection-grid-container {
    display: grid;
    grid-template-columns: 100%;
    width: 80.5%;
    background: orange;
    grid-gap: 1.5rem 0rem;
  }

  .photo-collection-grid-item {
    width: calc(100vw * 0.805);
    height: calc(98vw * 0.805);
    position: relative;
    background: teal;
  }
}
